# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BehaviourTreeExample.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GDV\KernmoduleFinal\BehaviourTreeExample\.idea\.idea.BehaviourTreeExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
